<div class="container">
<div class="all-friends">
  <h3>All friends</h3>
  
  <% @friends.each do |friend| %>
    <%= friend.name %> 
    <br>
    <br>
    <%= link_to 'Unfriend', friendship_path(:id => friend), method: :delete, class: 'btn' %>
    <br>
    <br> 
  <% end %>
</div>
<div class="pending-friends">
  <h3>Friend Requests</h3>
  
  <% @sent_requests.each do |friend| %>
    <%= friend.name %>
    <br>
    <br> 
    <%= link_to 'Accept Friend Request', friendship_path(:id => friend), method: :put, class:'btn' %>
  <% end %>
</div>
</div>
